body {
  font-family: 'Source Sans Pro', sans-serif;
}

.rowAbout::after {
  content: "";
  clear: both;
  display: table;
}
.colAbout-1 {width:33.33%;}
.colAbout-2 {width:33.33%;}
.colAbout-3 {width:33.33%;}

[class*="colAbout-"] {
  width:31%;
  float:left;
  display:inline;
  padding: .5em;
       
       
        
}


.clearfix:after {
  content: "";    
  display: block;    
  clear: both; 
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2880b8;
  text-align: center;
  font-size: 1.5em;
  padding: .5em;
  /*margin: 1.3em;*/
}

.aboutphoto { 
  width: 100%;
  text-align: center;
 
}
figcaption {
  text-align: left;
}
.Aboutlink {
  color:#db3421;
  background-color: white;
      
}

.mainAbout {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align: left;
  padding: 1em;
  /*margin-left: .2em;
  margin-right: .2em;*/
  /*margin-top: 2em;*/
}

.asideAbout {
  clear:both;
  padding: 20px;
}


footer {
  clear:both;
}



