* {
    box-sizing: border-box;
}

body {
      margin: 0;
      padding: 0;
}
.content-wrapper {
                  width:80%;
                  margin:auto;
}


h1 {
    text-align:center;
    font-family: "Source Sans Pro", sans-serif;
    color: #db3421;
    background-color: white;
    font-size: 3rem;
    padding: inherit;
    margin: auto;
    }

.clearfix:after {
  content: "";    
  display: block;    
  clear: all; 
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align:left;
  font-size: 1rem;
  padding: .5em;
  margin: .5em;
}

section {
        width:42vh;
        float:left;
        display:inline;
        padding:1em;
        margin:1em;
        
}
#aboutphoto { 
      width: 42vh;
      height: 42vh;
 
}


p {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align:left;
  padding: 1em;
  margin-left: 1em;
  margin-right: 0em;
  margin-top: 2em
}

aside {
  clear:both;
}


footer {
  clear:both;
}



