* {
    box-sizing: border-box;
}

body {
      margin: 0;
      padding: 0;
}
.content-wrapper {
                  width:80%;
                  margin:auto;
}
h1 {
    text-align:center;
    font-family: "Source Sans Pro", sans-serif;
    color: #db3421;
    background-color: white;
    font-size: 3rem;
    padding: inherit;
    margin: auto;
}


.rowAbout::after {
              content: "";
              clear: both;
              display: table;
}
.colAbout-1 {width:33.33%;}
.colAbout-2 {width:66.66%;}
.colAbout-3 {width:99.99%;}

[class*="colAbout-"] {
        width:42vh;
        float:left;
        display:inline;
        padding:1em;
        margin:1em;
}




.clearfix:after {
  content: "";    
  display: block;    
  clear: all; 
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align:left;
  font-size: 1rem;
  padding: .5em;
  margin: .5em;
}

#aboutphoto { 
      width: 42vh;
      height: 42vh;
 
}


.mainAbout {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align:left;
  padding: 1em;
  margin-left: 1em;
  margin-right: 0em;
  margin-top: 2em
}

.asideAbout {
  clear:both;
}


footer {
  clear:both;
}



