
/* Content wrapper for all html pages */
.content-wrapper {
  width: 80%;
  margin: auto;
}

/* Reusable code for all headers and footers */
.mainNav a {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.25vh;
  margin-top: 5.1%;
  text-decoration: none;
  color: black;
}
#pageHeader {
  clear: both;
  text-align: center;
  font-size: 6vh;
  font-family: 'Source Sans Pro', sans-serif;
  color: #db3421;
  margin-bottom: 5%;
}
footer {
  clear: both;
}
footer #footerNav {
  text-align: center;
}
footer p, footer p a {
  text-align: center;
  font-size: 1.75vh;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: black;
}

/* Set the colors of the company logos */
.fa-facebook-square {
    color: #3b5998;
}
.fa-twitter-square {
    color: #00aced;
}
.fa-instagram { 
  color: black; 
}

/* Code for responsive grids.  Remove the classes not in use on these pages (e.g. span_3_of_7).  Group of 7 is in use on all site headers while group of 3 is used by the blog specifically */ 

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SEVEN  */

.span_2_of_7 {
  	width: 27.85%;
}

.span_1_of_7 {
  width: 13.42%;
  border-bottom: 1px black solid;
}

/*  GO FULL WIDTH BELOW 720 PIXELS and change some formating when on mobile */
@media only screen and (max-width: 720px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_7, .span_2_of_7{ width: 100%; }

  .mainNav a {font-size: 4vh;}
  .span_1_of_7 {border: none;}
}