
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
body {
  font-family: sans-serif;
}
#mainContent{
  display: block;
}
#mainHeader {
  color: white;
  clear:both;
}
#mainLeft {
  margin-bottom: 1em;
  width: 50%;
  float: left;
  text-align: center;
}
#mainHead {
  color: #db3421;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
  padding:0;
}

.mainText {
  font-size: 22px;
  text-align: center;
   
}
.mainList {
  list-style-type: none;
  font-size: 1.2em;
  padding: 20px;
}
.mainHours a{  
  color: #db3421;
  text-decoration-line: none;
  padding-bottom: 10px;
    
}
#mainRight{
  width: 50%;
  float: right;
  margin-bottom: 1em;
}
#archer {
  width: 400px;
  height: 600px;
  margin-left: 30px;
}   
#mainInvisible {
  color: white;
}
iframe {
  padding-top: 20px;
}
footer {
  clear:both;
}