<style>

article.instructor { 
  margin: 0 auto;
  clear: both;
  padding: 0;
  box-sizing: border-box; 
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2em;
}

div.instrow {
  clear: both;
  width: 90%;
  margin: auto;
  text-align: center;
}

div.instrow:after {
  content: "";
  display: table;
  clear: both;
}
    
div[class^='instcol_'] {
  float: left;
  background-color: white;
  border: 10px solid white;
}

div.instcol_1_of_3 {
  width: 31%;
  
}

div.instcol_1_of_3 img {
  width: 100%;
  height: auto;
  
}

div h2 {
  font-size: 1.7em;
  font-family: 'Source Sans Pro', sans-serif;
}

div p {
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
}


</style>